@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';
@import 'mixsin';

.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;

  &__link {
    color: $dark-grey;
    font-size: 16px;
  }
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 80px;
}

.promo {
  background-image: url('../images/promo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    min-height: 100vh;
    font-family: 'Impact', sans-serif;
    text-align: center;
  }

  &__title {
    font-size: 76px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-transform: uppercase;
    align-self: center;
    margin-left: 15px;
  }

  &__subtitle {
    font-size: 48px;
    margin-bottom: 10px;
    border-bottom: 1px solid $dark;
    align-self: center;

    span {
      padding: 10px 0;
      display: block;
      font-size: 34px;
      color: $gold;
    }
  }

  &__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: $dark-grey;
    margin-bottom: 10px;
  }

  &__arrow {
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;
  }
}



@import 'media';